html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer {
  height: 50px;
  background-color: rgb(248, 182, 158);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.footer-links > a {
  margin-right: 25px;
}

.logo-wrap {
  display: flex;
  align-items: center;
  border: 0.8px solid lightgray;
}

.logo-text {
  margin: 0;
}
