<!DOCTYPE html>
<html lang="en">
{{ template "head" .event.Title }}

<body>
    {{ template "nav" }}
    <div class="wrapper">
        <div class="two-col">
            <div class="left-col">
                <h1 class="title">{{ .event.Title }}</h1>
                <img src="{{.event.Image}}" alt="{{.event.Title}}">
                <br /><br />
                <h2>Details</h2>
                <ul>
{{/*                    <li>Date & Time: <time>{{.event.Date}}</time></li>*/}}
                    <li>Date & Time: <time>{{.formattedDate}}</time></li>
                    <li>Location: {{.event.Location}}</li>
                </ul>
                <h2>Contribute</h2>
                 {{ if (eq .supportType 0) }}
                    <a href="/events/{{.event.ID}}/donate" class="btn btn-primary" onclick="return sendEvent('donate')">Want to donate?</a>
                {{ else }}
                    <a href="/events/{{.event.ID}}/donate" class="btn btn-primary" onclick="return sendEvent('support')">Want to support?</a>
                {{ end }}
            </div>
            <div class="right-col">
                <h2>Attendees</h2>
                {{ if .showConfirm }}
                <section class="confirmation-code">
                    <p>Your confirmation code: {{.confirmationCode}}</p>
                </section>
                {{ end }}
                <form class="rsvp-event-form" action="/rsvp_events/{{.event.ID}}" method="POST">
                    <div class="form-group">
                        <label for="rsvp-email">Your email</label>
                        <div class="form-single-line">
                            <input type="email" class="form-control" id="rsvp-email" name="email"
                                placeholder="jane.doe@gmail.com">
                            <button type="submit" class="btn btn-primary btn-single-line">RSVP</button>
                        </div>
                        {{if .rsvpError}}
                        <small class="errors form-text form-error" style="color: red">
                            <p>Only Yalies allowed!</p>
                        </small>
                        {{end}}
                    </div>
                </form>
                <div class="rsvp-list">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .rsvps}}
                            <tr>
                                <td>{{.Email}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function sendEvent(eType) {
            gtag('event', eType);
            return false;
        }
    </script>
    {{template "footer"}}
</body>

</html>